
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2-contents
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8-contents
.Rproj.user/3E33AB7A/sources/per/t/9704709E
.Rproj.user/3E33AB7A/sources/per/t/9704709E-contents
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB-contents
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB-contents
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13-contents
.Rproj.user/3E33AB7A/sources/per/t/CE69C640
.Rproj.user/3E33AB7A/sources/per/t/CE69C640-contents
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D-contents
.Rproj.user/3E33AB7A/sources/per/t/D952819D
.Rproj.user/3E33AB7A/sources/per/t/D952819D-contents
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776-contents
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/7ED4F336
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/C7A5D241
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/sources/s-E5B51A65/11CFE3D6-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/29FFFF02-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/2D9B73BA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/311F82FC-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/36A2ECB2
.Rproj.user/3E33AB7A/sources/s-E5B51A65/36A2ECB2-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/43A1BDD8-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/54956AEA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/59532746
.Rproj.user/3E33AB7A/sources/s-E5B51A65/59532746-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/5D590D73-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/93689AAB-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9704709E
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9704709E-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9836E9AB
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9836E9AB-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9C3CF191-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A17F0156-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A2AD4ADB-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/B0A5D086-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/BEB86E13
.Rproj.user/3E33AB7A/sources/s-E5B51A65/BEB86E13-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C5843CD5-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/CE69C640
.Rproj.user/3E33AB7A/sources/s-E5B51A65/CE69C640-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D1021FD1-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D3BFEE7D-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D588B7C5-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D952819D
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D952819D-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/EA2B4776-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/F53B5DD1-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/FE559F7C-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/lock_file
.Rproj.user/3E33AB7A/viewer-cache/81ABBF46.Rdata
.Rproj.user/3E33AB7A/viewer-cache/BE562269.Rdata
.Rproj.user/3E33AB7A/viewer-cache/E1AB5B40.Rdata
.Rproj.user/3E33AB7A/viewer-cache/FC7AD1A1.Rdata
*.Rdata
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2-contents
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8-contents
.Rproj.user/3E33AB7A/sources/per/t/9704709E
.Rproj.user/3E33AB7A/sources/per/t/9704709E-contents
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB-contents
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB-contents
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13-contents
.Rproj.user/3E33AB7A/sources/per/t/CE69C640
.Rproj.user/3E33AB7A/sources/per/t/CE69C640-contents
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D-contents
.Rproj.user/3E33AB7A/sources/per/t/D952819D
.Rproj.user/3E33AB7A/sources/per/t/D952819D-contents
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776-contents
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/7ED4F336
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/C7A5D241
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/viewer-cache/81ABBF46.Rdata
.Rproj.user/3E33AB7A/viewer-cache/BE562269.Rdata
.Rproj.user/3E33AB7A/viewer-cache/E1AB5B40.Rdata
.Rproj.user/3E33AB7A/viewer-cache/FC7AD1A1.Rdata
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2-contents
~$AcsRequirements.xlsx
