
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2-contents
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8-contents
.Rproj.user/3E33AB7A/sources/per/t/9704709E
.Rproj.user/3E33AB7A/sources/per/t/9704709E-contents
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB-contents
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB-contents
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13-contents
.Rproj.user/3E33AB7A/sources/per/t/CE69C640
.Rproj.user/3E33AB7A/sources/per/t/CE69C640-contents
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D-contents
.Rproj.user/3E33AB7A/sources/per/t/D952819D
.Rproj.user/3E33AB7A/sources/per/t/D952819D-contents
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776-contents
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/7ED4F336
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/C7A5D241
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/sources/s-E5B51A65/11CFE3D6-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/29FFFF02-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/2D9B73BA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/311F82FC-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/36A2ECB2
.Rproj.user/3E33AB7A/sources/s-E5B51A65/36A2ECB2-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/43A1BDD8-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/54956AEA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/59532746
.Rproj.user/3E33AB7A/sources/s-E5B51A65/59532746-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/5D590D73-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/93689AAB-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9704709E
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9704709E-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9836E9AB
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9836E9AB-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9C3CF191-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A17F0156-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A2AD4ADB-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/B0A5D086-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/BEB86E13
.Rproj.user/3E33AB7A/sources/s-E5B51A65/BEB86E13-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C5843CD5-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/CE69C640
.Rproj.user/3E33AB7A/sources/s-E5B51A65/CE69C640-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D1021FD1-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D3BFEE7D-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D588B7C5-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D952819D
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D952819D-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/EA2B4776-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/F53B5DD1-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/FE559F7C-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/lock_file
.Rproj.user/3E33AB7A/viewer-cache/81ABBF46.Rdata
.Rproj.user/3E33AB7A/viewer-cache/BE562269.Rdata
.Rproj.user/3E33AB7A/viewer-cache/E1AB5B40.Rdata
.Rproj.user/3E33AB7A/viewer-cache/FC7AD1A1.Rdata
*.Rdata
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2-contents
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8
.Rproj.user/3E33AB7A/sources/per/t/43A1BDD8-contents
.Rproj.user/3E33AB7A/sources/per/t/9704709E
.Rproj.user/3E33AB7A/sources/per/t/9704709E-contents
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB
.Rproj.user/3E33AB7A/sources/per/t/9836E9AB-contents
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB
.Rproj.user/3E33AB7A/sources/per/t/A2AD4ADB-contents
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13
.Rproj.user/3E33AB7A/sources/per/t/BEB86E13-contents
.Rproj.user/3E33AB7A/sources/per/t/CE69C640
.Rproj.user/3E33AB7A/sources/per/t/CE69C640-contents
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D
.Rproj.user/3E33AB7A/sources/per/t/D3BFEE7D-contents
.Rproj.user/3E33AB7A/sources/per/t/D952819D
.Rproj.user/3E33AB7A/sources/per/t/D952819D-contents
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776
.Rproj.user/3E33AB7A/sources/per/t/EA2B4776-contents
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/7ED4F336
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/C7A5D241
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/viewer-cache/81ABBF46.Rdata
.Rproj.user/3E33AB7A/viewer-cache/BE562269.Rdata
.Rproj.user/3E33AB7A/viewer-cache/E1AB5B40.Rdata
.Rproj.user/3E33AB7A/viewer-cache/FC7AD1A1.Rdata
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2
.Rproj.user/3E33AB7A/sources/per/t/36A2ECB2-contents
~$AcsRequirements.xlsx
.Rproj.user/3E33AB7A/sources/s-E5B51A65/EC02C02E-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/EC02C02E
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D8000F1A-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/D07FE5E9-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C83FED37-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C1BBEEA0-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C1368217-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/AF99D0DE-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A9094BFA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A314168A-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A314168A
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9CAF2AD9-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9C28D6D8-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/7963D616-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/77EA8D46-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/77EA8D46
.Rproj.user/3E33AB7A/sources/s-E5B51A65/683C4A12-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/4DA3724A-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/49FBFD19-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/473EC1EA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/348A1803-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/289C81CA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/19F21371-contents
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/7ED4F336
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/sources/s-E5B51A65/05C44362-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/166CDE83-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/18306D57-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/1EDB3B83-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/24D5CC8B-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/3246FF39-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/367B1D7E-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/431D76F0-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/4603F0F4-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/53B8AD4B-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/72BE83AF-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/79B212F7-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/834235E8
.Rproj.user/3E33AB7A/sources/s-E5B51A65/834235E8-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/84AA27EA-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9A7969B8-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/9CF30123-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A51FA88F-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/A8F5C450-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/B24051A3-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/B9E84EFD-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C5C4647A-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/C8C01050-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/E5610639-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/EB918883-contents
.Rproj.user/3E33AB7A/sources/s-E5B51A65/F9C6A455-contents
