.Rproj.user\*
.Rproj.user/*
~$AcsRequirements.xlsx
.Rproj.user/3E33AB7A/sources/prop/41CC9234
.Rproj.user/3E33AB7A/sources/prop/7ED4F336
.Rproj.user/3E33AB7A/sources/prop/98E30CD6
.Rproj.user/3E33AB7A/sources/prop/ED4E8CAC
.Rproj.user/3E33AB7A/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
